/vendor
/.idea
Homestead.json
Homestead.yaml
/build/logs/*
/bin
.DS_Store
/phpspec.yml
/swagger.yml
cghooks.lock
/php.ini
/php-silent.ini
 __pycache__/
/config/parameters.yml
/config/parameters.yml.staging.dist
/config/parameters.yml.production.dist
/config/services/event_repository.yml
/config/services/event_repository.yml.staging.dist
/config/services/event_repository.yml.production.dist
/config/services/email_transport.yml
/config/services/file_storage.yml
/node_modules
/php-xdebug.ini
/php-apcu.ini
/composer.lock
/package-lock.json
/.env
/.env.*.dist
/build.*.xml
/phpspec.*.yml
*.bak
